html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline; }

body {
  line-height: 1; }

img {
  max-width: 100%;
  height: auto; }

button {
  outline: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

q {
  display: inline;
  font-style: italic; }
  q:before {
    content: '"';
    font-style: normal; }
  q:after {
    content: '"';
    font-style: normal; }

input[type="text"], input[type="email"],
input[type="button"], input[type="submit"], input[type="reset"],
input[type="search"], input[type="password"], textarea {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  padding: 2px; }

big {
  font-size: 120%; }

small, sup, sub {
  font-size: 80%; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

dd {
  margin-left: 20px; }

kbd, tt {
  font-family: courier;
  font-size: 12px; }

ins {
  text-decoration: underline; }

del, strike, s {
  text-decoration: line-through; }

dt {
  font-weight: bold; }

cite, var {
  font-style: italic; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.2s;
  background-color: #bbb;
  color: #262626; }
  .button:hover {
    background-color: #999; }
  .button.green {
    background-color: #78B153;
    color: #fff; }
    .button.green:hover {
      background-color: #689c47; }

a.button, a.button:hover {
  text-decoration: none !important; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 20px; }

#header {
  width: 100%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px 0;
  z-index: 1000000; }
  #header .columns {
    align-items: center; }

#site-logo {
  flex: 0 1 25%; }
  #site-logo a {
    display: block; }
    #site-logo a img {
      width: 100%;
      max-width: 100%;
      height: auto; }

#main-navigation {
  flex: 1 0 75%; }
  #main-navigation ul {
    display: flex;
    justify-content: flex-end; }
    #main-navigation ul li {
      margin-left: 30px;
      display: block;
      transition-duration: 0.5s;
      position: relative; }
      #main-navigation ul li:first-child {
        margin-left: 0; }
      #main-navigation ul li:hover {
        cursor: pointer; }
        #main-navigation ul li:hover a {
          color: #1175e9; }
      #main-navigation ul li a {
        color: #555;
        font-size: 18px;
        text-decoration: none; }
      #main-navigation ul li.current-menu-item a {
        color: #1175e9; }
      #main-navigation ul li ul.sub-menu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: 1000000;
        transition: all 0.5s ease;
        left: -12px;
        padding-top: 10px;
        display: none;
        background-color: #fff;
        width: 220px; }
        #main-navigation ul li ul.sub-menu li {
          margin-left: 0;
          padding: 8px 12px;
          border-bottom: 1px solid #ccc; }
          #main-navigation ul li ul.sub-menu li:first-child {
            border-top: 3px solid #1175e9; }
          #main-navigation ul li ul.sub-menu li:last-child {
            border-bottom: none; }
          #main-navigation ul li ul.sub-menu li a {
            color: #555;
            font-size: 16px; }
          #main-navigation ul li ul.sub-menu li:hover {
            cursor: pointer; }
            #main-navigation ul li ul.sub-menu li:hover a {
              color: #1175e9; }
  #main-navigation ul li:hover > ul,
  #main-navigation ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block; }
  #main-navigation ul li ul li {
    clear: both;
    width: 100%; }

#sidebar ul.xoxo li.widget_nav_menu {
  background-color: #E2B13F;
  color: #fff;
  padding: 20px 25px 30px; }
  #sidebar ul.xoxo li.widget_nav_menu h3.widget-title {
    font-size: 28px;
    line-height: 1.1;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px; }
  #sidebar ul.xoxo li.widget_nav_menu ul.menu li {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 15px; }
    #sidebar ul.xoxo li.widget_nav_menu ul.menu li a {
      color: #fff;
      text-decoration: none; }

#page-callout {
  background: #f7f7f7;
  padding: 30px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
  #page-callout .columns {
    align-items: center; }
  #page-callout .column:nth-child(2) {
    flex: 0 0 30%;
    text-align: right; }
  #page-callout h2 {
    font-size: 28px; }
  #page-callout p {
    font-size: 20px; }
  #page-callout a {
    min-width: 300px; }

#footer {
  background-color: #272727;
  color: #999; }
  #footer a {
    color: #ccc;
    text-decoration: none; }
    #footer a:hover {
      color: #fff;
      text-decoration: underline; }
  #footer #footer-top {
    padding: 40px 0; }
    #footer #footer-top .column {
      max-width: 420px; }
      #footer #footer-top .column h3 {
        color: #fff;
        font-size: 18px;
        line-height: 1.3; }
      #footer #footer-top .column .social-links {
        display: flex;
        margin-top: 20px; }
        #footer #footer-top .column .social-links li {
          margin-right: 15px; }
          #footer #footer-top .column .social-links li a {
            height: 30px;
            width: 30px; }
            #footer #footer-top .column .social-links li a i, #footer #footer-top .column .social-links li a i:before {
              font-size: 30px;
              line-height: 30px; }
      #footer #footer-top .column address {
        margin-bottom: 20px; }
      #footer #footer-top .column .resident-portal-link {
        background-color: #bbb;
        color: #262626;
        font-size: 14px;
        margin-top: 20px;
        padding: 10px 20px; }
        #footer #footer-top .column .resident-portal-link:hover {
          background-color: #999; }
      #footer #footer-top .column .menu {
        min-width: 300px; }
        #footer #footer-top .column .menu li {
          padding-bottom: 5px;
          border-bottom: 1px solid #666;
          margin-bottom: 15px; }
          #footer #footer-top .column .menu li:last-child {
            border-bottom: none; }
  #footer #footer-bottom {
    background-color: #232323;
    padding: 20px 0; }

#featured-slider {
  width: 100%;
  height: 500px; }
  #featured-slider .slide {
    width: 100%;
    height: 500px; }
  #featured-slider .flickity-page-dots {
    bottom: 10px; }

#introduction {
  text-align: center;
  max-width: 768px;
  margin: 30px auto; }
  #introduction h1 {
    font-size: 32px; }
  #introduction p {
    font-size: 20px; }

#featured-links .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
#featured-links .featured-link {
  display: block;
  position: relative;
  width: 350px;
  height: 233px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #featured-links .featured-link .caption {
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0; }
  #featured-links .featured-link .cta-button {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 10;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
    background-color: #ebebeb;
    color: #666;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px; }
  #featured-links .featured-link:hover .cta-button {
    display: block;
    visibility: visible;
    opacity: 1; }

#content.has-sidebar {
  display: flex;
  flex-wrap: wrap; }
  #content.has-sidebar article {
    flex: 1 1 75%;
    padding-right: 50px; }
  #content.has-sidebar #sidebar {
    flex: 0 1 25%; }
  #content.has-sidebar .full-width {
    flex: 1; }

.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px; }
  .intro .featured-text {
    flex: 0 0 200px; }
    .intro .featured-text p {
      font-family: 'Raleway';
      font-size: 36px;
      line-height: 1;
      font-weight: 800;
      text-transform: uppercase; }
      .intro .featured-text p span {
        display: block;
        color: #b39a68;
        font-family: 'Open Sans';
        font-size: 18px;
        line-height: 1.2;
        font-style: italic;
        font-weight: 600;
        margin-bottom: 5px; }
  .intro .content {
    font-size: 18px; }

.featured-sections .featured-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px; }
  .featured-sections .featured-section .featured-section-image {
    flex: 0 0 40%;
    margin-right: 30px; }
  .featured-sections .featured-section .featured-section-content h3 {
    font-size: 20px;
    line-height: 1.2; }
  .featured-sections .featured-section .featured-section-content .button {
    margin-top: 30px; }

.full-width-three-column header {
  text-align: center;
  max-width: 80%;
  margin: 0 auto 50px; }
  .full-width-three-column header .heading-with-separator {
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    .full-width-three-column header .heading-with-separator .separator-holder {
      height: 1px;
      position: relative;
      flex: 1 1 auto;
      min-width: 10%; }
      .full-width-three-column header .heading-with-separator .separator-holder .separator-line {
        height: 1px;
        border-top: 1px solid #333;
        display: block;
        position: relative;
        top: 1px;
        width: 100%; }
    .full-width-three-column header .heading-with-separator h3 {
      flex: 0 1 auto;
      font-size: 20px;
      padding: 0 15px;
      margin-bottom: 0; }

.additional-callouts {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .additional-callouts .callout {
    display: block;
    position: relative;
    width: 350px;
    height: 233px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .additional-callouts .callout .caption {
      position: absolute;
      z-index: 10;
      bottom: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      color: #333;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      padding: 10px 0; }
    .additional-callouts .callout .cta-button {
      display: none;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      z-index: 10;
      top: 45%;
      left: 50%;
      transform: translate(-45%, -50%);
      background-color: #ebebeb;
      color: #666;
      font-size: 14px;
      font-weight: 600;
      padding: 10px 15px;
      border-radius: 5px; }
    .additional-callouts .callout:hover .cta-button {
      display: block;
      visibility: visible;
      opacity: 1; }

/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333; }

.flickity-button:hover {
  background: white;
  cursor: pointer; }

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F; }

.flickity-button:active {
  opacity: 0.6; }

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none; }

.flickity-button-icon {
  fill: currentColor; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%); }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

.wrapper {
  max-width: 1140px;
  margin: 0 auto; }
  .wrapper.columns {
    display: flex;
    justify-content: space-between; }

#container {
  padding-top: 80px; }

/*# sourceMappingURL=style.css.map */
